*{
    margin: 0;
    padding: 0;
}
html{
  scroll-behavior: smooth;
}

#group-1{
    height: 60rem;
    position: absolute;
    top: 0;
    width: 119rem;
    background: #e8631c;
    color: aliceblue;
    z-index: 2;
  }
  .image-1 {
    height: 60rem;
    position: absolute;
    top: 0;
    width: 119rem;
    background: url(pics/place_your_image_here_dou_10.jpg) no-repeat;
    background-size: cover;
  }
  .toolbar {
    min-height: 6rem;
    display: flex;
    background: #303030;
    align-items: center;
  }
  .toolbar a{
    color: white;
    text-decoration: none;
  }
  .logo {
    margin-right: auto;
    padding: 1rem;
  }
  
  .nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-list li {
    margin: 0 1.5rem; 
  }
  
  .nav-item-1,
  .nav-item-1-2,
  .nav-item-1-3,
  .nav-item-1-4,
  .nav-item-1-5 {
    font-family: Oswald, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  .search {
    margin-left: auto;
    padding: 1.5rem;
    height: 1.5rem;
    width: 1.5rem;
  }
  
  .text-1 {
    margin: 16rem 4.5rem 0;
    position: relative;
  }
  .title-1 {
    font-family: Oswald, sans-serif;
    font-size: 7.5rem;
  }
  .body-text-1 {
    margin: 1.5rem 0 2rem 1rem;
    width: 40rem;
    line-height: 1.2;
    font-size: 2rem;
  }
  .button-1 {
    margin: 2.5px 0 0 5rem;
    min-height: 4.5rem;
    padding: 0 5rem;
    position: relative;
    width: 20rem;
    border-radius: 4px;
    background: #e8631c;
    font-family: Oswald, sans-serif;
    font-size: 2rem;
    line-height: 4rem;
    text-align: center;
    text-transform: uppercase;
  }
  .hamburger-menu{
    display: none;
  }
  .dropdown{
    display: none;
  }
  @media (max-width:1024px){
    #group-1{
        width: 64rem;
    }
    .image-1{
        width: 64rem;
        background-position-x: -43rem;
        background-position-y: 2rem;
    }
  }
  @media (max-width:820px){
    .nav{
        /* display: none; */
    }
    .search{
        display: none;
    }
    .logo{
        margin: 0 auto;
        height: 8rem;
        width: 16rem;
    }
    #group-1{
        width: 67rem;
    }
    .image-1{
        width: 67rem;
        background-position-x: -40rem;
        background-position-y: 7rem;
    }
    .text-1 {
        margin: 13rem 10.5rem 0;
        position: relative;
    }
    .button-1 {
        margin: 0.5px 0 0 11rem;
        min-height: 4.5rem;
        padding: 0 5rem;
        position: relative;
        width: 20rem;
        border-radius: 4px;
        background: #e8631c;
        font-family: Oswald, sans-serif;
        font-size: 2rem;
        line-height: 4rem;
        text-align: center;
        text-transform: uppercase;
    }
    
    .body-text-1 {
        margin: 0.5rem 0 3rem -1rem;
        width: 40rem;
        line-height: 1.2;
        font-size: 2rem;
    }
  }
  @media (max-width:480px){
    #group-1{
        background-position: left;
    }
    .title-1{
        font-size: 5rem;
    }
    .body-text-1 {
        margin: 1.5rem 0 2rem 1rem;
        width: 40rem;
        line-height: 1.2;
        font-size: 3rem;
      }
}
@media (max-width:600px){
  #group-1{
    width: 67rem;
  }
  .image-1{
    width: 67rem;
    background-position-x: -40rem;
    background-position-y: 7rem;
}
.nav{
  display: none;
}

.hamburger {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu:checked + label .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.hamburger-menu:checked + label .line2 {
  opacity: 0;
}

.hamburger-menu:checked + label .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.dropdown {
  display: none;
  position: absolute;
  top: 160px;
  right: 3px;
  background-color:#e8631c;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  width: 66rem;
}
.lala{
  text-decoration: none;
  /* color: #333; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 3rem;
}

.hamburger-menu:checked + label + .dropdown {
  display: block;
}

.label-container {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 22px;
}

.label-container:hover .hamburger-menu:not(:checked) + label .line1 {
  transform: rotate(-15deg);
}

.label-container:hover .hamburger-menu:not(:checked) + label .line3 {
  transform: rotate(15deg);
}
}
/* .title-1{
    font-size: 5rem;
}
.body-text-1 {
    margin: 1.5rem 0 2rem 1rem;
    width: 40rem;
    line-height: 1.2;
    font-size: 3rem;
  } */
  #group2 {
    margin-top: 60rem;
    background-color: #e8631c;
    height: 60rem;
    width: 119rem;
    display: grid;
    grid-template-rows: 3fr 6fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    align-items: center;
    /* background-image: url(pics/shape_23.png); */
    background-repeat: no-repeat;
    position: absolute;
    /* top: 0; */
    z-index: 1;
}
.shape1 {
  top: -21rem;
  position: absolute;
  overflow: hidden;
}

.upper-left {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
}

.lower-right {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lower-left,
.lower-right-upper,
.lower-right-lower {
    flex: 1; 
    width: 23.4rem;
    margin: auto;
}
.text-2{
  color: aliceblue;
  align-items: center;
  width: 60rem;
  margin-left: 33rem;
}
.title-2{
  padding: 2rem;
  font-size: 5rem;
  margin-left: 8rem;
  margin-top: 2rem;
}
.body-text-2{
  padding: 2rem;
  font-size: 2rem;
}
.div1{
  background-color: #303030;
  z-index: 1;
  position: relative;
}
.heading1{
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.para1{
  color: aliceblue;
  font-size: 2rem;
  display: flex;  
  justify-content: center;
  padding: 2rem;
}
@media (max-width:1024px) and (min-width:821px){
    #group2{
        width: 64rem;
        margin-top: 60rem;
    }
    .text-2{            
      margin-left: 2rem;
    }
    .title-2 {
      padding: 2rem;
      font-size: 5rem;
      margin-left: 11rem;
      margin-top: 2rem;
  }
    
.lower-left, .lower-right-upper, .lower-right-lower {
  width: 18.4rem;
}
.image2{
  width: 18.4rem;
}
.shape1 {
  top: -15rem;
  right: 28rem;
}
}
@media (max-width:820px) and (min-width:601px) { 
#group2 {
    width: 67rem;
    margin-top: 60rem;
}
.text-2 {
  margin-left: -3rem;
}

.body-text-2 {
  padding: 2rem;
  font-size: 2rem;
  width: 55rem;
  margin-left: 3rem;
}
.image2{
  width: 18.4rem;
}
.title-2 {
  padding: 2rem;
  font-size: 5rem;
  margin-left: 14rem;
  margin-top: 2rem;
}
}
@media (max-width:600px){
    #group2 {
      height: 285rem;
      width: 67rem;
      margin-top: 60rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }

  .text-2 {
      margin-left: -3rem;
  }
  .title-2 {
    padding: 2rem;
    font-size: 7rem;
    margin-left: 7rem;
    margin-top: 2rem;
}
  .div121{
    width: 18.4rem;
  }
  .body-text-2 {
    padding: 2rem;
    font-size: 3rem;
    width: 55rem;
    margin-left: 3rem;
}

  .body-text-2 {
      padding: 2rem;
      font-size: 2rem;
      width: 55rem;
      margin-left: 3rem;
  }
  .div1 {
    z-index: 1;
    position: relative;
    width: 61.7rem;
    margin-left: -22rem;
  }
  .image2{
    width: 61.4rem;
  }
  .heading1 {
    color: aliceblue;
    font-size: 6rem !important;
    display: flex;
    justify-content: center;
}
.para1 {
  color: aliceblue;
  font-size: 4rem !important;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
  
.heading121{
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
}

#group3 {
  background-color:#303030;
  height: 60rem;
  width: 119rem;
  display: grid;
  grid-template-rows: 3fr 6fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 120rem;
}

.upper-left2 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

.lower-right2 {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lower-right-upper2,
.lower-right-middle2,
.lower-right-lower2 {
  flex: 1; 
  width: 100%;
} 
.shape2{
  top: -21rem;
  position: absolute;
  overflow: hidden;
}
.div2 {
  background-color: #e8631c;
  height: 33rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.image3 {
  display: flex;
  justify-content: center;
}
@media (max-width:1440px) and (min-width:821px){
.title-3 {
  padding: 2rem;
  font-size: 5rem;
  margin-left: 15rem;
  margin-top: 2rem;
}
}
.heading2 {
  color: aliceblue;
  font-size: 2rem; 
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.btn2{
  background-color: #303030;
  border: solid #303030;
  color: aliceblue;
  font-size: 2rem;
  padding: 0 2rem 0 2rem;
}
.shape3{
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width:1024px) and (min-width:821px){
  #group3{
      width: 64rem;
  }
  .text-2{
    margin-left: 2rem;
  }
  .title-3 {
    padding: 2rem;
    font-size: 5rem;
    margin-left: 16rem;
    margin-top: 2rem;
}
.heading2 {
  color: aliceblue;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
  
.lower-left, .lower-right-upper, .lower-right-lower {
width: 18.4rem;
}
.shape1 {
top: -15rem;
right: 28rem;
}
}
@media (max-width:820px) and (min-width:601px){
#group3 {
  width: 67rem;
}
.text-2 {
margin-left: -3rem;
}

.body-text-2 {
padding: 2rem;
font-size: 3rem;
width: 55rem;
margin-left: 3rem;
}
.div2 {
  background-color: #e8631c;
  height: 29rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-3 {
  padding: 2rem;
  font-size: 5rem;
  margin-left: 20rem;
  margin-top: 2rem;
}
}
@media (max-width:600px){
  #group3 {
    height: 260rem;
    top: 342rem;
  }
  .div2 {
    background-color: #e8631c;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    width: 61.5rem;
    margin-left: -22rem;
    
}
.image3 {
  display: flex;
  justify-content: center;
  height: 15rem;
}
}

@media (max-width:600px){
  #group3 {
    height: 240rem;
    width: 67rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading2 {
  color: aliceblue;
  font-size: 4.5rem;
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.text-2 {
    margin-left: -3rem;
}

.body-text-2 {
    padding: 2rem;
    font-size: 3rem;
    width: 55rem;
    margin-left: 3rem;
}
.title-3 {
  padding: 2rem;
  font-size: 7rem;
  margin-left: 14rem;
  margin-top: 2rem;
}
.btn2 {
  background-color: #303030;
  border: solid #303030;
  color: aliceblue;
  font-size: 5rem;
}
}
#group4 {
  background-color: #e8631c;
  height: 79.8rem;
  width: 119rem;
  display: grid;
  grid-template-rows: 1fr; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  position: absolute;
  top: 180rem;
  z-index: -1;
}
.grid4-left {
  background-color: #e8631c;
}

.grid4-right {
  background-color: #e8631c;
  width: 30rem;
}
.image4{
  width: 58rem;
  top: -0.1rem;
  position: relative;
}
.shape4 {
  position: absolute;
  bottom: -20rem;
  right: 0;

}
.div6{
  color: aliceblue;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}
.heading3{
  font-size: 5rem;
}
.para2{
  width: 30rem;
  font-size: 2rem;
  padding: 3rem;
}
.btn3{
  background-color: #303030;
  color: aliceblue;
  font-size: 3rem;
  border: solid #303030;
  margin-top: 4rem;
}
@media(min-width:1441px){
  .div6{
    width: 57rem;
  }
}
@media(max-width:1440px) and (min-width:1025px){
  .div6{
    width: 57rem;
  }
}
@media (max-width: 600px){
#group4 {
    width: 67rem;
    height: 41.4rem;
    top: 300rem;
}
}
@media (max-width:1024px) and (min-width:821px){
  #group4 {
    width: 64rem;
    height: 44.1rem;
  }
  .image4 {
    width: 32rem;
    top: -0.1rem;
    position: relative;
    z-index: 1;
}
.div6 {
  color: aliceblue;
  height: 43.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.heading3{
  font-size: 3rem;
}
.para2{
  font-size: 1.5rem;
  width: 20rem;
}
.btn3{
  font-size: 2rem;
}
}
@media (max-width:820px) and (min-width:601px){
  #group4{
    width: 67rem;
    height: 41.4rem;
    top: 180rem;

  }
  .shape5{
    margin-left: 20rem;
  }
  .image4{
    width: 30rem;
    z-index: 1;
  }
  .div6{
    height: 40.7rem;
  }
}
@media (max-width: 600px) {
  #group4 {
    width: 67rem;
    height: auto;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    top: 582rem;
  }
  .div6{
        margin-left: 3rem;
  }
  .image4 {
    width: 67rem !important;
    top: -0.1rem;
    position: relative;
    z-index: 1;
  }

  .div6 {
    color: aliceblue;
    height: auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: relative;
  }

  .heading3 {
    font-size: 3rem;
  }

  .para2 {
    font-size: 3rem;
    width: 20rem;
  }

  .btn3 {
    font-size: 2rem;
  }
  .grid4-right{
  margin-left: 15rem;
}
.shape4{
  width: 56rem;
}
}
#group5 {
  background-color: #e8631c;
  height: 79.8rem;
  width: 119rem;
  display: grid;
  grid-template-rows: 1fr; 
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px;
  position: absolute;
  top: 259rem;
  z-index: -1;
}
.grid5-left {
  background-color: #e8631c;
  width: 30rem;
}

.grid5-right {
  background-color: #e8631c;
}
.image4{
  width: 61rem;
  top: -0.1rem;
  position: relative;
  z-index: 1;
}
.shape5 {
    position: absolute;
    bottom: -19rem;
    right:32rem;
}

.div6{
  color: aliceblue;
    height: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}
.heading3{
  font-size: 5rem;
}
.para2{
  width: 30rem;
  font-size: 2rem;
  padding: 3rem;
}
.btn3{
  background-color: #303030;
  color: aliceblue;
  font-size: 3rem;
  border: solid #303030;
  margin-top: 4rem;
}
@media (max-width:1024px) and (min-width:821px){
  #group5 {
    width: 64rem;
    height: 44.1rem;
    top: 223rem;
  }
  .image4 {
    width: 32rem;
    top: -0.1rem;
    position: relative;
    z-index: 1;
}
.div6 {
  color: aliceblue;
  height: 43.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
}
.heading3{
  font-size: 3rem;
}
.para2{
  font-size: 1.5rem;
  width: 20rem;
}
.btn3{
  font-size: 2rem;
}
}
@media (max-width:820px) and (min-width:601px){
  #group5{
    width: 67rem;
    height: 41.4rem;
    top: 221rem;
  }
  .image4{
    width: 33.2rem;
  }
  .div6{
    height: 40.7rem;
  }
}
/* @media (max-width: 600px){
  #group5 {
      width: 61rem;
      height: 41.4rem;
      top: 750rem;
  }
  }
.shape5 {
  position: absolute;
  bottom: -20rem;
  left: 0;
} */
@media (max-width: 600px) {
  #group5 {
    width: 67rem;
    height: auto; 
    top: 750rem; 
    grid-template-rows: repeat(2, 1fr); 
    grid-template-columns: 1fr; 
  }

  .shape5 {
    position: absolute;
    bottom: 68rem;
    left: 0;
    width: 55rem !important;
  }
  .grid5-left{
    margin-left: 15rem;
  }
  .para2{
    font-size: 4rem;
    width: 64rem;
  }
}


#group6 {
  margin-top: 60rem;
  background-color:#303030;
  height: 60rem;
  width: 119rem;
  display: grid;
  grid-template-rows: 3fr 6fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  align-items: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 278rem;
  z-index: 1;
}
.shape1 {
top: -21rem;
position: absolute;
overflow: hidden;
}

.upper-left {
  grid-column: 1 / span 4;
  grid-row: 1 / span 1;
}

.lower-right {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lower-left,
.lower-right-upper,
.lower-right-lower {
  flex: 1; 
  width: 23.4rem;
  margin: auto;
}
.text-2{
color: aliceblue;
align-items: center;
width: 60rem;
margin-left: 31rem;
}
.title-4{
padding: 2rem;
font-size: 5rem;
margin-left: 6rem;
margin-top: 2rem;
}
.body-text-2{
padding: 2rem;
font-size: 2rem;
}
.div1{
z-index: 1;
position: relative;
}
.heading1{
color: aliceblue;
font-size: 3rem;
display: flex;
justify-content: center;
}
.para15{
color: aliceblue;
font-size: 2rem;
display: flex;
justify-content: center;
padding:0rem;
}
.heading121 {
  color: aliceblue;
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
@media (max-width:1024px){
  #group6{
      width: 64rem;
      margin-top: -12rem;
  }
  .text-2{
    margin-left: 2rem;
  }
  .title-4 {
    padding: 2rem;
    font-size: 5rem;
    margin-left: 8rem;
    margin-top: 2rem;
}
  
.lower-left, .lower-right-upper, .lower-right-lower {
width: 18.4rem;
}

.shape1 {
top: -15rem;
right: 28rem;
}
}
@media (max-width:820px){
#group6 {
  width: 67rem;
  margin-top: -16rem;
}
.text-2 {
margin-left: -3rem;
}

.body-text-2 {
padding: 2rem;
font-size: 2rem;
width: 55rem;
margin-left: 3rem;
}
.upper-left{
  padding-top: 2rem;
  padding-left: 3rem;
}
}
@media (max-width: 600px){
  #group6 {
      width: 67rem;
      margin-top: 647rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  .heading121{
    font-size: 5rem !important;
  }
}
/* .group7 {
  background-image: url(pics/place_your_image_here_dou.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 78rem;
  width: 117.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 398rem;
  position: relative;
  background-color: #e8631c;
  mix-blend-mode: multiply;
}

.content {
  text-align: center;
  color: #fff;
}

.content p {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.content button {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: #e8631c;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

 */

 #group-7{
  height: 78rem;
  overflow: hidden;
  position: relative;
  width: 119rem;
  z-index: 53;
  top: 397rem;
}
.background{
  height: 78rem;
  position: absolute;
  top: 0;
  width: 119rem;
  background-image: url(pics/place_your_image_here_dou.jpg);
  background-repeat: no-repeat;
  background-color: #e8631c;
  background-blend-mode: multiply;
  background-size: cover;
}
.image{
  position: absolute;
  top: 0;
  width: 119rem;
  height: 78rem;
  
}
.shape-holder {
  padding: 21rem 0 21.2rem;
  position: relative;
  width: 119rem;
}
.text-4{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para4{
  font-size: 3rem;
  width: 80rem;
}
.heading4{
  padding: 11rem;
  font-size: 5rem;
}
@media (max-width:1024px){
  .background {
    height: 43rem;
    position: absolute;
    top: -15px;
    width: 64rem;
    background-size: cover;
}
#group-7{
  top: 325rem;
  width: 64rem;
}
.text-4{
  color: aliceblue;
  display: flex;
  flex-direction: column;
  margin-left: -59rem;
  top: -11rem;
  position: relative;
}
.para4{
  font-size: 1.5rem;
  width: 33rem;
  /* width: 80rem; */
}
.heading4{
  padding: 5rem;
  font-size: 4rem;
}
}
@media (max-width:820px){
  .background {
    height: 43rem;
    position: absolute;
    top: -15px;
    width: 67rem;
    background-size: cover;
}
#group-7{
  top: 321rem;
  width: 67rem;
}
}
@media (max-width: 600px){
#group-7 {
    top: 985rem;
    width: 67rem;
}
}
#group8 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 40rem;
  width: 119rem;
  background-color: #e8631c;
  top: 396rem;
  position: relative;
}

.grid-item1,.grid-item2,.grid-item3 {
  height: 100%;
  width: 100%;
}
.grid-item1 img {
  max-width: 28rem;
}
.grid-item3{
  display: flex;
  justify-content: end;
}
.grid-item3 img {
  max-width: 28rem;
}
.grid-item2{
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  flex-direction: column;
}
.col{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heading7{
  font-size: 5rem;
}
.para7{
  font-size: 2rem;
  width: 60rem;
}
.Text-input{
  font-size: 3rem;
}
.btn7{
  font-size: 3rem;
  background-color: #303030;
  color: aliceblue;
  border: solid #303030;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.btn7{
  margin: 1rem;
}
@media (max-width:1024px){
  .shape8{
    display: none;
  }
  #group8{
    top: 289rem;
    width: 64rem;
  }
  .grid-item2 {
    margin-left: -17rem;
}
}
@media (max-width:820px){
  .shape8{
    display: none;
  }
  #group8{
    top: 285rem;
    width: 67rem;
  }
  .grid-item2 {
    margin-left: -11rem;
}
.para7 {
  font-size: 1rem;
  width: 44rem;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 4rem;
}
.Text-input{
  font-size: 2rem;
}
.btn7{
  font-size: 2rem;

}
}
@media (max-width: 600px){
#group8 {
  top: 946rem;
    width: 67rem;
}
}
#group9 {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 10px;
  background-color: #303030;
  top: 396rem;
  height: 40rem;
  width: 119rem;
  position: relative;
}
.heading9{
  font-size:  3rem;
  margin-left: -5rem;
  padding-bottom: 1rem;
}

.big-column {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 5rem;
}
.para9{
  width: 25rem;
  font-size: 1.5rem;
  padding: 1rem;
}
.small-column {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 2rem;
}
.pic10{
  padding: 2rem;
}
.heading10{
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 6rem;
}
.para11{
  padding: 0.5rem;
  font-size: 2rem;
}
.small-column10 {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
}
@media (max-width:1024px){
  #group9 {
    top: 289rem;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    width: 64rem;
}

.big-column {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  padding-top: 4rem;
}
.heading9 {
  font-size: 3rem;
  margin-left: 0rem;
  padding-bottom: 1rem;
}
.para9 {
  width: 13rem;
  font-size: 1rem;
  margin-left: -7rem;
}
.pic10 {
  padding: 1rem;
}
.heading10 {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 10rem;
}
.para11 {
  padding: 0.5rem;
  font-size: 1rem;
}
}
@media (max-width:820px){
  #group9 {
    top: 285rem;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    width: 67rem;
}
.big-column {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
}
.heading9 {
  font-size: 2rem;
  margin-left: 0rem;
  padding-bottom: 1rem;
}
.para9 {
  width: 13rem;
  font-size: 1rem;
  margin-left: 0rem;
}
.pic10 {
  padding: 1rem;
}
.heading10 {
  font-size: 2rem;
  padding-bottom: 2rem;
  padding-top: 10rem;
}
.para11 {
  padding: 0.5rem;
  font-size: 1rem;
}
.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: -1rem;
}
.small-column {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
}
}    
@media (max-width: 600px){
#group9 {
    top: 946rem;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr;
    width: 67rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 172rem;
}
.heading9{
  font-size: 6rem;
}
.para9 {
  width: 63rem;
  font-size: 3rem;
  margin-left: 0rem;
}
.row2{
  margin-left: 23rem;
}
.heading10{
  font-size: 6rem;
}
.para11{
  font-size: 3rem;
}
.small-column10 {
  background-color: #303030;
  color: aliceblue;
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  padding: 1rem;
  margin-right: 9rem;
}
}
